/* Estilos para el panel de productos */
.product-panel
  width: 100%
  padding: 20px
  box-sizing: border-box
  font-family: Arial, sans-serif


/* Estilos para la tabla */
.product-panel table
  width: 100%
  border-collapse: collapse


/* Estilos para las celdas de la tabla */
.product-panel table th,
.product-panel table td
  border: 1px solid #ddd
  padding: 8px
  text-align: left


/* Estilos para las celdas de encabezado de la tabla */
.product-panel table th
  background-color: #f2f2f2
  color: black


/* Estilos para el pie de página */
.footer-panel
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 20px


/* Estilos para el desplegable */
.footer-panel select
  padding: 5px

/* Estilos para el pie de página */
.header-panel
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 20px

/* Add styles for Modal */
.modal
  position: fixed
  top: 0
  left: 0
  width:100%
  height:100%
  background-color: rgba(0,0,0,0.5)
  display: flex
  justify-content: center
  align-items: center

.modal-content
  background-color: white
  padding: 20px
  border-radius: 5px
  width: 30%
  text-align: center

