<div class="product-panel">
  <div class="header-panel">
    <input type="text" placeholder="Buscar..." (input)="filterProducts($event)"/>
    <button (click)="addProduct()">Agregar</button>
  </div>
  <table>
    <tr>
      <th>Nombre del producto</th>
      <th>Descripción</th>
      <th>Fecha de liberación</th>
      <th>Fecha de reestructuración</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let bankingProduct of filteredBankingProducts">
      <td>{{ bankingProduct.name }}</td>
      <td>{{ bankingProduct.description }}</td>
      <td>{{ bankingProduct.date_release }}</td>
      <td>{{ bankingProduct.date_revision }}</td>
      <td>
        <button (click)="editProduct(bankingProduct)">Editar</button>
        <button (click)="deleteProduct(bankingProduct)">Eliminar</button>
      </td>
    </tr>
  </table>

  <div class="footer-panel">
    <span>Total de registros: {{ totalBankingProducts }}</span>
    <select [(ngModel)]="selectedBankingProduct" [disabled]="!bankingProductsPerPageEnabled">
      <option *ngFor="let bankingProduct of bankingProductsPerPage" [value]="bankingProduct">{{ bankingProduct }}</option>
    </select>

  </div>
</div>
